@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .cp-dark {
        --cp-bg-color: #000;
        --cp-border-color: rgb(55 65 81);
        --cp-text-color: white;
        --cp-input-color: #555;
        --cp-button-hover-color: #777;
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
